# Gemini API Key
GEMINI_API_KEY = AIzaSyCkSC6YQ60bApqKnUf2PDvGSs5hZPWaIG4
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
GEMINI_MODEL=gemini-2.0-flash

# Next.js Environment
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here